body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    margin: 30px auto;
    width: 350px;
  }
  
  h1 {
    letter-spacing: 1px;
    margin: 0;
  }
  
  h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
  }
  
  h4 {
    margin: 0;
    text-transform: uppercase;
  }
  
  .inc-exp-container {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  
  .inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
  }
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus {
    color: #2ecc71;
  }
  
  .money.minus {
    color: #c0392b;
  }
  
  label {
    display: inline-block;
    margin: 10px 0;
  }
  
  input[type='text'],
  input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  .btn {
    cursor: pointer;
    background-color: #d3e2f2;
    box-shadow: var(--box-shadow);
    color: #000000;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px; 
    padding: 10px;
    width: 105.8%;
    transition:all 0.5s;
  }

  .btn:hover{
    color:white;
  }

  .credit:hover{
    background-color:#ed6060;
    border-radius:10px;
  }

  .debit:hover{
    background-color:#60ed67;
    border-radius:10px;
  }
  
  .btn:focus,
  .delete-btn:focus {
    outline: 0;
  }
  
.transaction-type-container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:15px;
}

.transaction-type-container>div{
  width:100px;
  margin:20px;
  text-align:center;
  background-color:white;
  font-weight:bold;
  text-transform:uppercase;
  cursor:pointer;
}
  .list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    max-height:205px;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: 1px;
  }
  
  .list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content:space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    width:300px;
    transition:all 5ms;
    transition-timing-function: ;  
  }

  .list li:hover{
    background-color:rgb(225, 51, 51);
    cursor:pointer;
  }
  
  .list li.plus {
    border-right: 5px solid #2ecc71;
  }
  
  .list li.minus {
    border-right: 5px solid #c0392b;
  }
  
  .list li:hover .delete-btn {
    opacity: 1;
  }

  .form-control{
    margin-top:15px;
  }